<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>发布库</title>
    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/source.css" rel="stylesheet">
    <link href="../static/css/cms.css" rel="stylesheet">
  </head>
  <body>
  	<div class="release-content">
	    <div id="header" class="navbar" style="border-radius: 0px;">
	        <a href="/" style="position:relative;"><img src="../static/images/logo.png" class="fl ml20" style="margin-top:8px;"></a>
	        <ul class="navbar-nav ml70">
	          <li id="nav_1"><a href="/">稿源库</a></li>
	          <li id="nav_2"><a href="/selected">已发稿</a></li>
	          <li id="nav_3"><a href="/release">发稿库</a></li>
	        </ul>

	        <ul class="navbar-nav fr">
	            <li style="width:100px;"><a href="/" class="black">欢迎，郭珊</a></li>
	  			<li style="text-align: left;font-weight:bold;"><a href="/logout" class="black">【退出】</a></li>
	        </ul>
	    </div>
        <div class="error_ex">
          <h1 class="red">系统正在更新</h1>
          <h2><b class="grey">请稍候再试！</b></h2>
    </div>
	<script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>
